---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Work from '../components/Work.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import { site } from '../data/site.js';
---

<Layout
  title={`${site.name} | ${site.role}`}
  description={`${site.positioning}. ${site.heroCredential}.`}
>
  <Nav />
  <main id="main-content">
    <Hero />
    <Work />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
